#container{
    width: 700px;
    background-color: lightgray;
    margin: 0 auto;
    padding: 10px;
    
}
h2{
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    color:rgb(71, 92, 164);
    
}

li{
    margin-left: 150px;
    list-style: none;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    width: 200;
    background-color:rgb(71, 92, 164);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 150px;
}
.img{
    width:200px;
}
#container_{
    width: 700px;
    background-color: lightgray;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}
h2{
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    color:rgb(71, 92, 164);
    text-shadow: 1px 1px gray;
}