<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div id="container">
    <h2>Counter</h2>
    <% if (count>0) { %>
    <p><%= count %> Times</p>
    <% } %>
    <form action="/count" method="POST">
    <button>+2</button>
    </form>
    <form action="/reset" method="POST">
        <button>reset</button>
    </form>
</div>
</body>
</html>